<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Restaurant.Data.Properties.Settings.RestaurantConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Restaurant;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>