@{
    ViewBag.Title = "PlaceOrder";
}

@using Restaurant.Data;
@model Class_7_3_Restaurant.Models.OrderPlacedViewModel

<h1 style="text-align: center;">Thank you for your patronage!</h1>
<br />
<h2 style="text-align: center;">Your order number is @Model.OrderId</h2>
<br />
<h2>Your order status is: @Model.Status</h2>

